body {
    text-align: center;
    font-family: Tahoma;
    color: #0a0a23;
  }
  
  #sheet {
    text-align: left;
    max-width: 500px;
    margin: auto;
    padding: 10px;
    border: 2px solid #d0d0d5;
  }
  
  #header h2 {
    font-size: 1.3em;
    background: transparent;
  }
  
  .row:nth-of-type(odd) {
    background-color: #dfdfe2;
  }
  
  .row:nth-of-type(even) {
    background-color: #d0d0d5;
  }
  
  .row:last-child {
    background-color: transparent;
    margin-bottom: 30px;
  }
  
  p[class~="total"] {
    border-bottom: 4px double #0a0a23;
    font-weight: bold;
  }
  
  .row {
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid #0a0a23;
    padding: 4px;
  }
  
  span:not(.name) {
    margin-left: 10px;
    min-width: 15%;
    text-align: right;
  }
  
  span[class="current"] {
    font-style: italic;
  }
  
  .name {
    width: 100%;
    text-align: left;
  }
  
  .row[tabindex]:hover {
    background-color: #99c9ff;
  }
  
  div > h2 {
    background-color: #99c9ff;
    font-size: 1.3em;
    padding: 0 4px;
  }
  
  div ~ h2 {
    font-weight: normal;
  }
  
  p + span {
    font-size: 0.8em;
    font-style:italic;
    color:#3b3b4f;
  }